.root {
	-fx-background-image: url('images/background.gif');
}

.round-red {
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	-fx-font-size: 1.5em;
	-fx-font-weight: bold;
}

.round-red:hover {
	-fx-background-color: linear-gradient(#ff5400, #a34313);
}

.menuBtn {
	-fx-padding: 8 15 15 15;
	-fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
	-fx-background-radius: 8;
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
		#9d4024, #d86e3a,
		radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
	-fx-font-weight: bold;
	-fx-font-size: 1.9em;
	-fx-text-fill: #FFFFFF;
}

.menuBtn:hover {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
		#9d4024, #d86e3a,
		radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.menuBtn:pressed {
	-fx-padding: 10 15 13 15;
	-fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

/*
	GameModeSceneStyle
*/
.modeBtn {
	-fx-padding: 100 100 100 100;
	-fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
	-fx-background-radius: 8;
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
		#9d4024, #d86e3a,
		radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
	-fx-font-weight: bold;
	-fx-font-size: 1.9em;
	-fx-text-fill: #FFFFFF;
}

.modeBtn:hover {
	-fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
		#9d4024, #d86e3a,
		radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.modeBtn:pressed {
	-fx-padding: 102 100 98 100;
	-fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.menulbl {
	-fx-font-size: 3em;
	-fx-text-fill: #FFFFFF;
	-fx-font-weight: bold;
	-fx-background-color: #1e3248;
	-fx-padding: 0 100 0 100
}

/*
	PlayerOptionScene
*/
.dark-blue {
	-fx-background-color: #090a0c,
		linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
		linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9),
		rgba(255, 255, 255, 0));
	-fx-background-radius: 5, 4, 3, 5;
	-fx-background-insets: 0, 1, 2, 0;
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
	-fx-font-family: "Arial";
	-fx-text-fill: linear-gradient(white, #d0d0d0);
	-fx-font-size: 15px;
	-fx-padding: 10 20 10 20;
	-fx-mark-color: white;
}

.dark-blue .label {
	-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 1);
	-fx-text-fill: white;
}

.dark-blue .context-menu {
	-fx-background-color: #090a0c,
		linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
		linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9),
		rgba(255, 255, 255, 0));
}